@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');

body {
    background-image: url("95.jpg");
    background-repeat: repeat;
}

#container {
    font-family: 'Recursive', sans-serif;
    left: 50%;
    border: 3px solid #d8d8d8;
    box-shadow: 0px 0px 50px #444444;
    background-color: #fff;
    overflow: scroll;
    height: 75%;
    outline: 1px solid #000;
}

#window-main,
#window-abt,
#window-prg,
#window-rob,
#window-grp,
#window-prgor {
    width: 50%;
    position: absolute;
    z-index: 3;
    transform: translate(255px, 16px);
}

#titlebar {
    cursor: move;
    touch-action: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    background-color: #aaa;
    padding: 1px 1px 2px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #000;
    outline: 1px solid #000;
    font: 13px Helvetica, Helvetica Neue, Arial, sans-serif;
    flex: 1;
    min-height: 16px;
    line-height: 17px;
    text-align: center;
}

#icb {
    display: flex;
    justify-content: center;
    width: 17px;
    background-color: initial;
    border: none;
    padding: 0;
}

button {
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    color: black;
    padding: 5 5 4px;
    border-radius: 1px;
}
button:hover {
    border: 2px inset #fff;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000;
}
button:focus {
    border: 2px inset #fff !important;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
    background: url(background.bmp);
}
button:active {
    border: 2px inset #fff !important;
    color: #424242;
    box-shadow: -1px -1px #000 !important;
    outline: 0 !important;
    background: url(background.bmp);
}

button:focus{
    outline: 1px dotted;
}

